@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #313a46;
    --main-text-color: white;
    --main-text-color-hoover: #bccee4;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 1 auto;
}

header, footer{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

button{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 0.25rem;
    border: 0px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: var(--main-text-color) ;
    color: var(--main-bg-color);
}

.nav{
    display: flex; 
    justify-content: space-between;
}

.nav__brand{
    color: inherit;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
}

.nav__list{
    display: inline-block;
    list-style-type: none;
    padding: 25px;
}

.nav__item{
    display: inline-block;
}

.nav__link{
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 10px; 
}
.nav__link:hover{
    color: var(--main-text-color-hoover);
}

.copyright{
    padding: 25px;
    text-align: center;
}

.title{
    font-weight: bold;
    text-align: center;
    margin: 25px;
}

.products__list{
    display: flex;
    overflow: auto;
}

.product{
    border-radius: 0.25rem;
    background-color: var(--main-text-color-hoover);
    margin: 25px;
    cursor: pointer;
}

.product__img{
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
}

.product__title{
    margin-top: 10px;
}

.product__price{
    margin: 10px 0;
    font-weight: bold;
    text-align: end;
}

.product__title, .product__price, .product__category{
    padding: 0 10px;
}

.login, .signin{
    text-align: center;
    background-color:  var(--main-text-color-hoover);
    border-radius: 0.25rem;
    width: 500px;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .login, .signin{
        width: 250px;
    }
}

.login h1{
    padding-top: 25px;
}

.signin h1{
    padding-top: 25px;
}

.login, .signin .auth{
    padding-bottom: 25px;
}

.login .auth__submit{
    margin-top: 25px;
}

.signin .auth__submit{
    margin-top: 25px;
}

.auth__row{
    margin-bottom: 10px;
}

.auth__row:last-child{
    margin-bottom: 0px;
}

.auth__row label{
    margin-right: 10px;
    margin-bottom: 5px;
    display: block;
}

.auth__row input{
    border: none;
    border-radius: 0.25rem;
    padding: 5px 10px;
}

.auth__error{
    display: block;
    color: red;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
}